<!DOCTYPE html>
<html lang="en">

<head>
    <title> Lessons </title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="products.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
                <div v-for='product in sortedProducts'>
                    <figure>
                        <img v-bind:src="product.image"
                            style="width: 100px; height: 100px; float: left; padding-top: 50px; padding-bottom: 50px; padding-right: 20px;">
                    </figure>
                    <h2 v-text="product.title"></h2>
                    <p>Location: {{product.location}}</p>
                    <p>Price: {{product.price}}</p>
                    <p>Available Spaces: {{itemLeft(product)}}</p>
                    <span v-for='n in product.rating'>★</span>
                    <span v-for='n in 5-product.rating'>☆</span>
                    <br>
                    <br>

                    <button v-on:click='addToCart(product)' :disabled='!canAddToCart(product)'> Add to Cart </button>
                    <span v-if='itemLeft(product) === 0'> Lesson Full! </span>
                    <span v-else-if='itemLeft(product) < 5'> Only {{itemLeft(product)}} spaces left!</span>
                    <span v-else> Book it now! </span>
                    <br>
                    <br>
                    <br>

                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name: </strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model="order.firstName" />
                </p>
                <p>
                    <strong>Last Name: </strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model="order.lastName" />
                </p>
                <p>
                    <strong>Address: </strong>
                    <!-- This input field is bound to 'address' in the 'order' object -->
                    <input v-model="order.address" />
                </p>
                <p>
                    <strong>Phone Number:</strong>
                    <!-- This input field is bound to 'number' in the 'order' object -->
                    <input v-model="order.number" />
                </p>
                <p><input type="radio" id="online" value="Online" v-model="order.method">
                    <label for="online">Online</label>
                    <input type="radio" id="offline" value="Offline" v-model="order.method">
                    <label for="offline">Offline</label>
                </p>

                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>Phone number: {{order.number}}</p>
                <p>Medium: {{order.method}}</p>
                <p>Lessons Booked: {{product.title}}</p>
                <button v-on:click="submitForm">Confirm Booking</button>


            </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Lessons',
                product: products,
                cart: [],
                showProduct: true,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    number: '',
                    method: 'Offline',
                },
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Booking submitted!')
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++
                        }
                    }
                    return count
                },
                itemLeft(product) {
                    return product.availableInventory - this.cartCount(product.id)
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },

                sortedProducts() {
                    function compare(a, b) {
                        if (a.price > b.price) return -1
                        if (a.price < b.price) return 1
                        return 0
                    }

                    return this.product.sort(compare)
                },

                validate() {
                    var phoneNumber = document.getElementById('number').value;
                    var Name = document.getElementById('name').value;
                    var phoneRGEX = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/;
                    var nameRGEX = /^[a-zA-Z]+ [a-zA-Z]+$/;
                    var phoneResult = phoneRGEX.test(phoneNumber);
                    var nameResult = nameRGEX.test(Name);
                    if (phoneResult == false) {
                        alert('Please enter a valid phone number');
                        return false;
                    }

                    if (nameResult == false) {
                        alert('Please enter a valid Name');
                        return false;
                    }

                    return true;
                }

            },

        });
    </script>
</body>

</html>